.main {
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: white;
}
.container {
  background-color: #272727;
  padding: 32px;
  border-radius: 8px;
  flex-grow: 1;
  max-width: 382px;
}
.page_container {
  align-self: stretch;
  max-width: 1020px;
  padding: 16px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.input_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input_container input {
  padding: 12px 16px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #2c364c;
  background-color: transparent;
  color: white;
}
.btn {
  background-color: transparent;
  outline: none;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.btn-primary {
  color: white;
  background-color: #4f46e5;
  margin-top: 16px;
}
.btn-secondry {
  color: white;
  background-color: #6366f1;
  margin-top: 16px;
}
.text-console {
  font-size: 12px;
}
.error {
  color: red;
}
.-mt-3 {
  margin-top: -12px;
}
.logo_container {
  text-align: center;
}
.logo_container img {
  width: 96px;
  margin-bottom: 46px;
}
